USE [Fashion_Shop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](256) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[Fullname] [nvarchar](256) NOT NULL,
	[Role] [int] NOT NULL,
	[Email] [varchar](256) NULL,
	[Gender] [bit] NOT NULL,
	[Image] [varchar](500) NULL,
	[Birthday] [date] NULL,
	[Phone] [char](10) NOT NULL,
	[Address] [nvarchar](256) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](256) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cus_username] [varchar](256) NOT NULL,
	[Phone] [char](10) NULL,
	[Cus_address] [nvarchar](256) NULL,
	[Cus_email] [varchar](256) NULL,
	[Date] [date] NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_order] [int] NOT NULL,
	[ID_product] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[IDCategory] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [varchar](500) NULL,
	[Brand] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[ReleaseTime] [smallint] NULL,
	[ProductType] [nvarchar](50) NOT NULL,
	[ProductCluster] [smallint] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeAndColor]    Script Date: 12/17/2022 9:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeAndColor](
	[productID] [nvarchar](50) NOT NULL,
	[size] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_SizeAndColor] PRIMARY KEY CLUSTERED 
(
	[productID] ASC,
	[size] ASC,
	[color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [Role], [Email], [Gender], [Image], [Birthday], [Phone], [Address]) VALUES (N'abc123', N'45262', N'ABC', 2, NULL, 0, NULL, NULL, N'0123123123', NULL)
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [Role], [Email], [Gender], [Image], [Birthday], [Phone], [Address]) VALUES (N'agueroduc01', N'123123', N'Ngọc Đức', 1, N'agueroduc01@gmail.com', 0, NULL, NULL, N'0789924726', NULL)
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [Role], [Email], [Gender], [Image], [Birthday], [Phone], [Address]) VALUES (N'duc123', N'123123123@dD', N'Đức', 2, N'agueroduc01@gmail.com', 0, N'https://picsum.photos/500/500', CAST(N'2001-02-13' AS Date), N'0789924726', N'974/47/22 CMT8 P.5 Q.TB')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Cus_username], [Phone], [Cus_address], [Cus_email], [Date], [TotalPrice]) VALUES (2, N'trungho', N'0123456789', N'Dak Lak', N'n19dccn213@student.ptithcm.edu.vn', CAST(N'2022-12-17' AS Date), 500)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [ID_order], [ID_product], [Quantity], [Price]) VALUES (2, 2, N'10', 1, 500)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
INSERT [dbo].[Product] ([ID], [Name], [IDCategory], [Price], [Image], [Brand], [Gender], [ReleaseTime], [ProductType], [ProductCluster]) VALUES (N'1', N'Áo Jacket Nam', 1, 900, N'images/Top/Jacket/jacket1.png', N'Cartier', 1, 2021, N'Jacket', 0)
INSERT [dbo].[Product] ([ID], [Name], [IDCategory], [Price], [Image], [Brand], [Gender], [ReleaseTime], [ProductType], [ProductCluster]) VALUES (N'10', N'Quần Tee Pants Nu', 2, 500, N'images/Bot/Tee Pants/pants2.png', N'H&M', 0, 2020, N'Tee Pants', 2)
INSERT [dbo].[Product] ([ID], [Name], [IDCategory], [Price], [Image], [Brand], [Gender], [ReleaseTime], [ProductType], [ProductCluster]) VALUES (N'100', N'Quần Cargo Nu', 2, 400, N'images/Bot/Cargo/Cargo2.png', N'Cartier', 0, 2022, N'Cargo', 2)
GO
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (1, N'TOP')
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (2, N'BOT')
GO
INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Customer')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([Cus_username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([ID_order])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory1] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[ProductCategory] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory1]
GO
ALTER TABLE [dbo].[SizeAndColor]  WITH CHECK ADD  CONSTRAINT [FK_SizeAndColor_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[SizeAndColor] CHECK CONSTRAINT [FK_SizeAndColor_Product]
GO
